span:hover
{
    cursor: pointer;
}
.marcador
{
    border:2px solid black;
    border-radius: 25px;
    height: 10vh;
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: bold;
    font-size: 40px;
}
.marcador > p > span
{
    line-height: 10vh;
}
.imagenTiro
{
    height: auto;
    width: 15vw;
    max-width: 15vw;
}